// Layouts
$short-window: "only screen and (max-height: 484px)";
$extra-device: "only screen and (min-width: 1600px) and (max-width: 2560px)";
$laptop-device: "only screen and (min-width: 1200px) and (max-width: 1599px)";
$lg-layout: "only screen and (min-width: 992px) and (max-width: 1199px)";
$md-layout: "only screen and (min-width: 768px) and (max-width: 991px)";
$sm-layout: "only screen and (max-width: 767px)";
$large-mobile: "only screen and (max-width: 575px)";
$small-mobile: "only screen and (max-width: 479px)";
//
// Jumbotron
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.651);
    backdrop-filter: blur(10px);
    border-radius: 7px;
    box-sizing: border-box;
    height: max-content;
    padding: 20px;
}

.vid-container {
    min-height: fit-content;
}

.jumbotron {
    height: 100vh;
    padding-top: 40px;
    display: grid;
    place-items: center;
}

.header {
    color: #F2F2F2;
}

.instructions {
    color: #F2F2F2;
}

video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 40px;
}

.input {
    background-color: #F2F2F2;
    border-radius: 7px;
    border: 0;
    box-sizing: border-box;
    color: #F2F2F2;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.cut {
    background-color: transparent;
    border-radius: 7px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}

.cut-short {
    width: 50px;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
    transform: translateY(8px);
}

.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

label.placeholder {
    background-color: transparent;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
    transform: translateY(-40px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown)~.placeholder {
    color: #F2F2F2;
}

.input:focus~.placeholder {
    color: #F2F2F2;
    background-color: transparent;
}

.submit {
    background-color: #BF9663;
    border-radius: 7px;
    border: 0;
    box-sizing: border-box;
    color: #F2F2F2;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 18px;
    outline: 0;
    text-align: center;
    width: 100%;
}

.submit:active {
    background-color: #D9AC59;
}

.card {
    margin-bottom: 5%;
    height: 90%;
    padding: 5%;
}

.footer {
    min-height: max-content;
    background-color: #20252a;
    padding-top: 35px;
    color: #F2F2F2;
    a {
        text-decoration: none;
        color: #F2F2F2;
    }
    a:hover {
        color: #D9AC59;
    }
}

#pb-react {
    margin-bottom: 2vh;
}

.App-logo {
    height: 4.5vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 85vh;
    width: 85vh;
    display: grid;
    place-items: center;
    background-color: #D9AC59;
}

#error-vector {
    height: 30vh;
    width: 30vh;
    margin-bottom: 5vh;
}

a {
    color: #D9AC59;
    text-decoration: none;
}

//Loader
.preloader {
    position: absolute;
    margin-left: -55px;
    margin-top: -100px;
    height: 110px;
    width: 110px;
    left: 50%;
    top: 50%;
}

.ldngSpinner {
    width: 110px;
    height: 110px;
}

.path {
    stroke: #ffd900;
    stroke-width: 0.25;
    fill: #241e20;
}

#cloud {
    position: relative;
    z-index: 2;
}

#cloud path {
    fill: #f2f2f2;
}

#sun {
    margin-left: -10px;
    margin-top: 6px;
    opacity: 0;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 45px;
    top: 15px;
    z-index: 1;
    animation-name: rotate;
    animation-duration: 16000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#sun path {
    stroke-width: 0.18;
    fill: #ffd900;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}


/* Rain */

.rain {
    position: absolute;
    width: 70px;
    height: 70px;
    margin-top: -32px;
    margin-left: 19px;
}

.drop {
    opacity: 1;
    background: #7cd7c2;
    display: block;
    float: left;
    width: 3px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0px 0px 6px 6px;
    animation-name: drop;
    animation-duration: 350ms;
    animation-iteration-count: infinite;
}

.drop:nth-child(1) {
    animation-delay: -130ms;
}

.drop:nth-child(2) {
    animation-delay: -240ms;
}

.drop:nth-child(3) {
    animation-delay: -390ms;
}

.drop:nth-child(4) {
    animation-delay: -525ms;
}

.drop:nth-child(5) {
    animation-delay: -640ms;
}

.drop:nth-child(6) {
    animation-delay: -790ms;
}

.drop:nth-child(7) {
    animation-delay: -900ms;
}

.drop:nth-child(8) {
    animation-delay: -1050ms;
}

.drop:nth-child(9) {
    animation-delay: -1130ms;
}

.drop:nth-child(10) {
    animation-delay: -1300ms;
}

@keyframes drop {
    50% {
        height: 45px;
        opacity: 0;
    }
    51% {
        opacity: 0;
    }
    100% {
        height: 1px;
        opacity: 0;
    }
}

.ldngText {
    font-family: Helvetica, "Helvetica Neue", sans-serif;
    letter-spacing: 1px;
    text-align: center;
    margin-left: -43px;
    font-weight: bold;
    margin-top: 20px;
    font-size: 11px;
    color: #f2f2f2;
    width: 200px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media #{$large-mobile} {
    .hero {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: linear-gradient(45deg, #000000, #054e6f);
        border-radius: 0px;
        height: 100%;
        padding: 20px;
        padding-top: 50%;
    }
    video {
        display: none;
    }
    .error {
        position: absolute;
        transform: translate(-50%, -50%);
        border: 1px solid #F2F2F2;
        height: 100vh;
        width: 50vh;
        display: grid;
        place-items: center;
        background-color: #D9AC59;
    }
    .submit {
        background-color: #ffd900;
        color: black;
    }
    .weatherIcon {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

// Weather Dashboard
.weatherCardContainer {
    position: relative;
    width: 95%;
    // border: 1px solid rgba(255, 255, 255, 0.4);
    margin: auto;
    margin-top: 2.2vh;
    background-color: rgba(5, 78, 111, 0.623);
    backdrop-filter: blur(10px);
    border-radius: 7px;
    color: white;
}

.currentWeather {
    border-radius: 7px;
    padding: 40px;
    height: max-content;
    background-color: rgba(0, 0, 0, 0.651);
    backdrop-filter: blur(10px);
    width: 100%;
}

.frcstRow {
    width: 100%;
    display: grid;
    place-items: center;
}

.frcstTitle {
    margin-bottom: 2vh;
    padding-left: 5vh;
}

.lead {
    margin: auto;
}

.frcstWeather {
    border-radius: 7px;
    height: max-content;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.651);
    backdrop-filter: blur(10px);
    margin-top: 2vh;
}

.conditionDetails {
    margin: auto;
    font-size: medium;
}

.forecastDetails {
    margin: auto;
    font-size: small;
}

.transparent {
    background-color: #000000;
}

.fcCrd {
    border-radius: 5px;
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;
    height: max-content;
    color: black;
    margin: 1%;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(242, 242, 242, 0.623);
    backdrop-filter: blur(10px);
}

@media #{$extra-device} {
    .hero {
        top: 50%;
    }
}

@media #{$short-window} {
    .hero {
        top: 65%;
    }
    .welcome {
        display: none;
    }
    video {
        width: 100%;
        transform: scale(1.15)
    }
}